.burger-and-search-forMedia {
  display: none;
}

.burger-fullmenu {
  position: absolute;
  top: 80px;
  left: -24px;
  color: black;
  background-color: white;
  padding-top: 15px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding-bottom: 30px;
  width: 100%;
}

.burger-fullmenu li {
  padding: 16px 15px 16px 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
}

.burger-fullmenu li:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #F7F7F7;
  position: absolute;
  left: 0;
  top: 44px;
}

.burger-fullmenu li img {
  margin-bottom: 3px;
}

.burger-fullmenu_disp-none {
  display: none;
}

.burger-and-search {
  position: absolute;
  top: 35px;
  left: 20px;
  display: none;
}

.header__burgerIco.header__burgerIco_act:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.header__burgerIco.header__burgerIco_act:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.header__burgerIco.header__burgerIco_act span {
  -webkit-transform: scale(0);
          transform: scale(0);
}