//--------- burger-and-search start

.burger-and-search-forMedia
  display: none

.burger-fullmenu
  position: absolute
  top: 70px
  left: 0
  color: black
  background-color: white
  padding-top: 15px
  font-family: Poppins, sans-serif
  font-style: normal
  font-weight: 600
  font-size: 11px
  line-height: 16px
  letter-spacing: 1.2px
  text-transform: uppercase

.burger-fullmenu li
  padding: 16px 170px 16px 13px

.burger-fullmenu_disp-none
  display: none

.burger-and-search
  position: absolute
  top: 35px
  left: 20px
  display: none

.header__burgerIco.header__burgerIco_act:before
  transform: rotate(45deg)
  top: 8px

.header__burgerIco.header__burgerIco_act:after
  transform: rotate(-45deg)
  bottom: 9px

.header__burgerIco.header__burgerIco_act span
  transform: scale(0)


  // --------- burger-and-search end